<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>New Order</title>
</head>
<body>
    <form action="/order/create" method="post" class="col-6 mx-auto">
        <div class="d-flex">
            <h2 class="text-center">Log a New Order</h2><p class = "justify-right"><a href = "/" > Back to purchases </a></p>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name"  class="form-control">
        </div>
        <div class="form-group">
            <label for="cookie_type">Cookie Type:</label>
            <input type="text" name="cookie_type"  class="form-control">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="int" name="quantity"  class="form-control">
        </div>
        <button type="submit" value="" class="btn btn-success">Log</button><br>
        <!-- <a href="/order/new" class="btn btn-primary"> Submit </a> -->

        <!-- Unknown how to style this correctly -->
    </form>

</body>
</html>


